  //full page css

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Manrope;
    margin: 0;
    padding: 0;
  }

  .page-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .half-page-wrap {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  .header-wrap{
    position: absolute;
    left: 38%;
    top: 5%;
  }
  .cta-wrap {
    position: absolute;
    top: 5%;
    left: 36%;
    z-index: 10;
  }

  .cta-wrap h1{
    font-size: 30px;
  }

  .cta-wrap p{
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .circle-svg-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3%;
    left: 46%;
  }

  .bottom-half {
  }





  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
