//full page css

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Manrope;
  margin: 0;
  padding: 0;
}

.page-wrap {

}


.half-svg {
  z-index: 1;
}


.cta-wrap {
  position: absolute;
  bottom: 75%;
  left: 36%;
  z-index: 10;
}

.cta-wrap h1{
  font-size: 30px;
}

.cta-wrap p{
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.circle-svg {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 46%;
  z-index: 8;
}

.bottom-wrap {
  display: flex;
  justify-content: center;
}

.price-box{
  border: 5px solid green;
  z-index: 50;
  width: 25%;
}

.views {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}




.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
