  //full page css

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Manrope;
    margin: 0;
    padding: 0;
  }

  .page-wrap {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .half-page-wrap {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-image: url(interactive-pricing-component/images/bg-pattern.svg);
  }

  .header-wrap{
    position: absolute;
    left: 38%;
    top: 5%;
  }
  .cta-wrap {
    position: relative;
    top: 5%;
  }
  .circle-svg-wrap {
    margin: 0;
    padding: 0;
  }

  .bottom-half {
  }





  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
